html{
    font-family: 'Montserrat', sans-serif;
    background-color: #EDF6F9;
}

main h1{
    text-align: center;
}

h1:hover{
    color:violet;
    transition: .3s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background:    #b6b1b1;
background:    linear-gradient(#b6b1b1, #b6b1b1 50%, #bababa 50%, #bababa);
border-radius: 11px;
padding:       15px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 "Open Sans", sans-serif;
text-align:    center;

}


.result{
    margin-top: 20px;
    display: flex;  
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.player{
    display: flex;
    flex-direction: column;
}
.pc{
    display: flex;
    flex-direction: column;
}

img{
    width: 100px;
}

